body {
  margin: 0px;
  background-image: url(https://cdn.wallpapersafari.com/35/81/nLZTAv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  color: white;
}

.title {
  text-align: center;
}

.players {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr 2fr;
}

.mainbox {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  top: 200px;

  height: 300;
  width: 300;
}
.intirebox {
  border: 1px solid;
  padding: 20px;
  font-size: 30px;
  text-align: center;

  background-color: blue;
}

.Result {
  margin-top: 500;
  border: 1px solid;
  color: white;
}
button {
  margin-top: 500;

  color: blue;
}
